.body {
    font-family: 'Inria Serif', serif;    
}

.parallax {
    background: url("../images/background.jpeg"), no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
}

#menu_1 {
    width: 60px;
}

.menu {
    font-family: 'Fruktur', cursive;
    padding-top: 2%;
}

.row1 {
    font-family: 'Fruktur', cursive;  
    font-size: 20px;
}

#matam {
    color: rgb(190, 108, 78);
}

#authen {
    color: rgb(125, 170, 125);
    font-size: 25px;
}

.title {
    color: rgb(190, 108, 78); 
}
.card {
    text-align: center;
}

.card-body, .pizza-types {
    font-family: 'Girassol', cursive;
    font-size: 25px;
    text-align: center;
}

.pizza-types {
    font-size: 40px;
    color: rgb(4, 4, 85);
}

.card-body1{
    color: rgb(4, 4, 85);
}

#head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0;
    padding-top: 1%;
    margin-top: -1%;
}

.card {
    margin: 4%;
}