*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red !important; */
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
    box-sizing: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inria Serif', serif;
}

.container-fluid .parallax {
    background: url("../images/background.jpeg"), no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
}

.container-fluid .parallax .img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    /* Half the height  so we can centre*/
    margin-left: -125px;
}

#menu_1 {
    width: 59px;
}

.menu {
    font-family: 'Fruktur', cursive;
    padding-top: 3%;
}

.row1 {
    font-family: 'Fruktur', cursive;
    font-size: 22px;
}

#matam {
    color: rgb(190, 108, 78);
}

#authen p {
    color: rgb(125, 170, 125);
    font-size: 25px;
}

.title {
    color: rgb(190, 108, 78);
}

.card {
    text-align: center;
}

.card.mycard {
    max-width: 998px;
}

.card-body.formCard {
    width: 100%;
}

.card-body,
.pizza-types {
    font-family: 'Girassol', cursive;
    font-size: 25px;
    text-align: center;
}

.pizza-types {
    font-size: 42px;
    color: rgb(4, 4, 85);

}

#head {
    background-color: transparent;
    background-image: url("../images/background2.jpeg"), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card-body1 {
    color: rgb(4, 4, 85);
}

#head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0;
    padding-top: 1%;
    margin-top: -1%;
}

.crd {
    margin: 6%;
    background-image: url("../images/menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
}

.c4 {
    border: 1px solid white;
}

.mycard {
    /* padding:15px 20px; */
    /* width:50%; */
    align-items: center;
}

#order {
    align-items: center;
}

#order form,
.form-bottom {
    /* margin-left:60%; */
    /* width: 80%; */
}

.pizza_order {
    font-family: 'Girassol', cursive;
    color: rgb(4, 4, 85);
}

input#number.form-control.text-center {
    text-align: start !important;
}